<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Add recipe - Food4Thought</title>
</head>
<body>
    <div class="container">
    <h1 class="mt-2">Skapa recept</h1>
    
        <form action="/add_recipe/" method="POST">
            <div class="form-row mt-4">
                <div class="col-md-4 mb-3">
                    <label for="name">Recept titel:</label> 
                    <input type="text" class="form-control" id="title" name="title" placeholder="Titel..." required> 
                </div>
                <div class="col-md-4 mb-3">
                    <label for="title">Beskrivning:</label>
                    <input type="text" class="form-control" id="description" name="description" placeholder="Kort beskrivning..." onkeypress="return isNumber(event)" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-8 mb-3">    
                    <label for="article_text">Instruktioner:</label>
                    <textarea type="text" class="form-control" id="instructions" rows="6" name="instructions" placeholder="Instruktioner för receptet..." required></textarea>
                    <input type="submit" class="btn btn-success mt-3" value="Skapa receptet!">
                    <a href="/" class=" btn btn-danger mt-3 ml-2">Avbryt</a>
                </div>
            </div>    
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="/static/script.js"></script>
</body>
</html>