<!DOCTYPE html>
<html lang="en">
    <head>
      
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/2145d415da.js" crossorigin="anonymous"></script>
        <title>Food4Thought</title>
    </head>
    <body>
    {% extends "navbar.html" %}
    {% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col col-4 border-right">
                <img src="/static/images/{{profile_pic}}" class="img-fluid" alt="Profile image" max-width="300" max-height="400" class="middle">
                <h2 class="text-center">{{firstname}} {{lastname}}</h2>
            </div>
            <div class="col col-8">
                <h2 class="ml-5">Välkommen till din sida, {{firstname}}!</h2>
            </div>  
        </div>
        
        <div class="row">
        <ul class="nav flex-column col-4 mt-4">
            <li class="nav-item">
              <a class="nav-link bg-light" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Byta profilbild</a>
            </li>
            <div class="collapse mt-3 mb-3" id="collapseExample">
              <form method="POST" enctype="multipart/form-data" action="/upload_profile_image/">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" name="image" id="customFile">
                  <label class="custom-file-label" for="customFile">Välj din bild</label>
                </div>
                <button type="submit" class="btn btn-block btn-primary mt-3">Ladda upp din bild!</button>
              </form>
            </div>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                  <div class="flash_image_upload mt-3 mb-3">
                  {% for message in messages %}
                      {{ message }}
                  {% endfor %}
                  </div>
              {% endif %}
            {% endwith %}
            <li class="nav-item mt-1">
              <a class="nav-link bg-light" data-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapse2">Byta lösenord</a>
            </li>
            <div class="collapse mt-3 mb-3" id="collapse2">
              <form method="POST" action="/change_password/">
                <div class="input-group form-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-key"></i></span>
                  </div>
                  <input type="password" class="form-control" name="password" placeholder="Ditt nuvarande lösenord" required>
                </div>
                <div class="input-group form-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-key"></i></span>
                  </div>
                  <input type="password" class="form-control" name="password" placeholder="Välj nytt lösenord" required>
                </div>
                <div class="input-group form-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-key"></i></span>
                  </div>
                  <input type="password" class="form-control" name="password" placeholder="Repetera ditt nya lösenord" required>
                </div>
                <div class="form-group mt-4">
                    <input type="submit" value="Byt lösenord" class="btn btn-primary btn-block mt-4">
                </div>
              </form>
            </div>
          </ul>
        </div>
        </div>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="/static/script.js"></script>
        {% endblock %}
    </body>
</html>