<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>{{recipe[2]}} - Food4Thought</title>
</head>
<body>
    {% extends "navbar.html" %}
    {% block content %}
    <div class="container">
        
        <div class="row mt-4">
            <div class="col-md-8">
                <h2>{{recipe[2]}}</h2>
                <hr/>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-8">
                <h5>{{recipe[3]}}</h5>
            </div>
        </div> 
        <div class="row mt-4">
            <div class="col-md-8">
                <h5>Ingredienser:</h5>
                {%for ingredient in ingredients%}
                    <p>{{ingredient[0]}} {{ingredient[1]}}{{ingredient[2]}}</p>
                {%endfor%}
            </div>
        </div> 
        <div class="row mt-4">
            <div class="col-md-8">
                <h5>Instruktioner:</h5>
                <p>{{recipe[4]}}</p>
                <hr/>
            </div>
        </div> 
        <div class="row">
            <div class="col-md-8">
                <p>{{recipe[5]}}</p>
                <hr/>
            </div>
        </div> 
        
        <form action="/add_comment/" method="POST">
            <div class="form-row mt-4">
                <input type="text" name="recipe_ID" class="hidden" value="{{recipe[0]}}">
                <div class="col-md-4 mb-3">
                    <label for="name">Namn:</label> 
                    <input type="text" class="form-control" id="username" name="username" value={{session["user_email"]}} disabled> 
                </div>
            </div>
            <div class="form-row mb-4">
                <div class="col-md-8 mb-3">    
                    <label for="article_text">Kommentar:</label>
                    <textarea type="text" class="form-control" id="comment_text" rows="6" name="comment" placeholder="Skriv en kommentar" required></textarea>
                    <input type="submit" class="btn btn-success mt-3" value="Skicka kommentar">
                </div>
            </div>
            </form>
            {%for comment in comments%}
            <div class="row col-md-5 mb-4">
                <div class="card">
                    <div class="card-header">{{comment[0]}}</div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>{{comment[1]}}</p>
                            
                            <footer class="blockquote-footer">
                                {{comment[2]}}    
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>
            {%endfor%}
        

    </div>

    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="/static/script.js"></script>
</body>
</html>